
-- AirBnb Database Schema
-- This script is created for the ALX ProDev-Backend Program

--DROP database if exists and create a new one
DROP DATABASE IF EXISTS airbnb_db;
CREATE DATABASE airbnb_db;
USE airbnb_db;

-- Create user Tables: Stores all platforms users(hosts,guests and admins)
CREATE TABLE users (
    user_id UUID PRIMARY KEY DEFAULT (UUID()),
    first_name VARCHAR(50) NOT NULL,
    last_name VARCHAR(50) NOT NULL,
    email VARCHAR(100) NOT NULL UNIQUE,
    password_hash VARCHAR(255) NOT NULL,
    phone_number VARCHAR(20),
    role ENUM('guest','host', 'admin') NOT NULL DEFAULT 'guest',
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,

    --Indexes for performance optimization
    INDEX idx_email (email),
    INDEX idx_role (role),
    INDEX idx_created_at (created_at)
);

--Properties table: Stores rental property listings
CREATE TABLE properties(
    property_id UUID PRIMARY KEY DEFAULT (UUID()),
    host_id UUID NOT NULL,
    name VARCHAR(255) NOT NULL,
    description TEXT NOT NULL,
    location VARCHAR(255) NOT NULL,
    price_per_night DECIMAL(10, 2) NOT NULL CHECK (price_per_night > 0),
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
    
    -- Foreign key constraint
    FOREIGN KEY (host_id) REFERENCES users(user_id) ON DELETE CASCADE,
    
    -- Indexes for performance
    INDEX idx_host_id (host_id),
    INDEX idx_location (location),
    INDEX idx_price_per_night (price_per_night),
    INDEX idx_created_at (created_at)
);

-- Bookings table: Stores reservation information
CREATE TABLE bookings (
    booking_id UUID PRIMARY KEY DEFAULT (UUID()),
    property_id UUID NOT NULL,
    user_id UUID NOT NULL,
    start_date DATE NOT NULL,
    end_date DATE NOT NULL,
    total_price DECIMAL(10, 2) NOT NULL CHECK (total_price > 0),
    status ENUM('pending', 'confirmed', 'canceled') NOT NULL DEFAULT 'pending',
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    
    -- Foreign key constraints
    FOREIGN KEY (property_id) REFERENCES properties(property_id) ON DELETE CASCADE,
    FOREIGN KEY (user_id) REFERENCES users(user_id) ON DELETE CASCADE,

    -- Check constraint for valid date range
    CHECK (start_date < end_date),
    CHECK (end_date > CURRENT_DATE),
    
    -- Indexes for performance
    INDEX idx_property_id (property_id),
    INDEX idx_user_id (user_id),
    INDEX idx_status (status),
    INDEX idx_dates (start_date, end_date),
    INDEX idx_created_at (created_at)
);

-- Payments table: Stores payment transactions
CREATE TABLE payments (
    payment_id UUID PRIMARY KEY DEFAULT (UUID()),
    booking_id UUID NOT NULL,
    amount DECIMAL(10, 2) NOT NULL CHECK (amount > 0),
    payment_date TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    payment_method ENUM('credit_card', 'paypal', 'stripe') NOT NULL,
    
    -- Foreign key constraint
    FOREIGN KEY (booking_id) REFERENCES bookings(booking_id) ON DELETE CASCADE,
    
    -- Indexes for performance
    INDEX idx_booking_id (booking_id),
    INDEX idx_payment_date (payment_date),
    INDEX idx_payment_method (payment_method)
);

-- Reviews table: Stores property reviews and ratings
CREATE TABLE reviews (
    review_id UUID PRIMARY KEY DEFAULT (UUID()),
    property_id UUID NOT NULL,
    user_id UUID NOT NULL,
    rating INTEGER NOT NULL CHECK (rating >= 1 AND rating <= 5),
    comment TEXT NOT NULL,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    
    -- Foreign key constraints
    FOREIGN KEY (property_id) REFERENCES properties(property_id) ON DELETE CASCADE,
    FOREIGN KEY (user_id) REFERENCES users(user_id) ON DELETE CASCADE,
    
    -- Ensure one review per user per property
    UNIQUE KEY unique_user_property_review (user_id, property_id),
    
    -- Indexes for performance
    INDEX idx_property_id (property_id),
    INDEX idx_user_id (user_id),
    INDEX idx_rating (rating),
    INDEX idx_created_at (created_at)
);

-- Messages table: Stores communication between users
CREATE TABLE messages (
    message_id UUID PRIMARY KEY DEFAULT (UUID()),
    sender_id UUID NOT NULL,
    recipient_id UUID NOT NULL,
    message_body TEXT NOT NULL,
    sent_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    
    -- Foreign key constraints
    FOREIGN KEY (sender_id) REFERENCES users(user_id) ON DELETE CASCADE,
    FOREIGN KEY (recipient_id) REFERENCES users(user_id) ON DELETE CASCADE,
    
    -- Check constraint to prevent self-messaging
    CHECK (sender_id != recipient_id),
    
    -- Indexes for performance
    INDEX idx_sender_id (sender_id),
    INDEX idx_recipient_id (recipient_id),
    INDEX idx_sent_at (sent_at),
    INDEX idx_conversation (sender_id, recipient_id, sent_at)
);

-- Additional Indexes for Complex Queries

-- Composite index for user search
CREATE INDEX idx_user_search ON users(first_name, last_name, email);

-- Composite index for property search
CREATE INDEX idx_property_search ON properties(name, location, price_per_night);

-- Index for booking date ranges and status
CREATE INDEX idx_booking_dates_status ON bookings(start_date, end_date, status);

-- Index for review ratings and dates
CREATE INDEX idx_review_ratings ON reviews(rating, created_at);

-- Display table creation confirmation
SELECT 'Database schema created successfully!' AS status;

