-- ====================================================
-- SQL AGGREGATIONS AND WINDOW FUNCTIONS
-- Advanced Data Analysis for AirBnB Business Intelligence
-- ====================================================

-- QUERY 1: Aggregation with COUNT and GROUP BY
-- Business Purpose: Analyze user booking behavior to identify:
-- - Most active guests for loyalty programs
-- - User engagement levels across the platform
-- - Marketing segmentation based on booking frequency
-- - Customer lifetime value indicators

SELECT 
    u.user_id,
    u.first_name,
    u.last_name,
    u.email,
    u.user_type,
    u.created_at AS member_since,
    -- COUNT aggregation: Total number of bookings per user
    COUNT(b.booking_id) AS total_bookings,
    -- Additional aggregations for comprehensive analysis
    SUM(b.total_amount) AS total_amount_spent,
    AVG(b.total_amount) AS average_booking_value,
    MIN(b.check_in) AS first_booking_date,
    MAX(b.check_in) AS last_booking_date,
    -- Count only confirmed bookings for reliability
    COUNT(CASE WHEN b.status = 'confirmed' THEN 1 END) AS confirmed_bookings,
    -- Calculate booking frequency (bookings per month)
    ROUND(
        COUNT(b.booking_id) / 
        GREATEST(EXTRACT(MONTH FROM AGE(CURRENT_DATE, u.created_at)), 1), 
        2
    ) AS bookings_per_month
FROM 
    users u
LEFT JOIN 
    bookings b ON u.user_id = b.guest_id
WHERE 
    u.user_type = 'guest'  -- Focus on guests (not hosts or admins)
GROUP BY 
    u.user_id, 
    u.first_name, 
    u.last_name, 
    u.email, 
    u.user_type, 
    u.created_at
HAVING 
    COUNT(b.booking_id) > 0  -- Only include users with at least one booking
ORDER BY 
    total_bookings DESC,
    total_amount_spent DESC;

-- BUSINESS INTELLIGENCE APPLICATIONS:
-- 1. LOYALTY PROGRAMS: Identify top bookers for VIP treatment and rewards
-- 2. CUSTOMER SEGMENTATION: Group users by booking frequency for targeted marketing
-- 3. RETENTION ANALYSIS: Monitor booking patterns to identify at-risk customers
-- 4. REVENUE FORECASTING: Use booking trends to predict future revenue
-- 5. USER ENGAGEMENT: Measure platform adoption and user activity levels



-- QUERY 2: Window Functions - Property Ranking by Booking Popularity
-- Business Purpose: Competitive analysis and property performance benchmarking:
-- - Identify most popular properties for premium placement
-- - Help hosts understand their market position
-- - Enable data-driven pricing strategies
-- - Support search algorithm optimization

SELECT 
    p.property_id,
    p.title AS property_title,
    p.property_type,
    p.base_price,
    p.accommodates,
    p.bedrooms,
    p.bathrooms,
    -- COUNT aggregation: Total bookings per property
    COUNT(b.booking_id) AS total_bookings,
    -- SUM aggregation: Total revenue generated
    COALESCE(SUM(b.total_amount), 0) AS total_revenue,
    -- AVG aggregation: Average booking value
    COALESCE(AVG(b.total_amount), 0) AS average_booking_value,
    -- WINDOW FUNCTION: Row number based on booking count
    ROW_NUMBER() OVER (
        ORDER BY COUNT(b.booking_id) DESC
    ) AS popularity_rank_by_bookings,
    -- WINDOW FUNCTION: Rank (handles ties differently than row_number)
    RANK() OVER (
        ORDER BY COUNT(b.booking_id) DESC
    ) AS popularity_rank_with_ties,
    -- WINDOW FUNCTION: Dense rank (no gaps in ranking sequence)
    DENSE_RANK() OVER (
        ORDER BY COUNT(b.booking_id) DESC
    ) AS popularity_dense_rank,
    -- WINDOW FUNCTION: Ranking within property type category
    ROW_NUMBER() OVER (
        PARTITION BY p.property_type 
        ORDER BY COUNT(b.booking_id) DESC
    ) AS rank_in_property_type,
    -- WINDOW FUNCTION: Percent of total bookings this property represents
    ROUND(
        (COUNT(b.booking_id) * 100.0 / NULLIF(SUM(COUNT(b.booking_id)) OVER (), 0)), 
        2
    ) AS percent_of_total_bookings,
    -- Additional performance metrics
    COALESCE(AVG(pr.rating), 0) AS average_rating,
    COUNT(pr.review_id) AS total_reviews
FROM 
    properties p
LEFT JOIN 
    bookings b ON p.property_id = b.property_id 
    AND b.status = 'confirmed'  -- Only count confirmed bookings
LEFT JOIN 
    property_reviews pr ON p.property_id = pr.property_id
GROUP BY 
    p.property_id, 
    p.title, 
    p.property_type, 
    p.base_price, 
    p.accommodates, 
    p.bedrooms, 
    p.bathrooms
HAVING 
    COUNT(b.booking_id) > 0  -- Only include properties with bookings
ORDER BY 
    total_bookings DESC,
    total_revenue DESC;

-- BUSINESS INTELLIGENCE APPLICATIONS:
-- 1. SEARCH RANKING: Boost popular properties in search results
-- 2. HOST EDUCATION: Show hosts how they rank against competitors
-- 3. PRICING OPTIMIZATION: Correlate popularity with pricing strategies
-- 4. INVESTMENT DECISIONS: Identify high-performing property types and locations
-- 5. MARKETING FOCUS: Feature popular properties in promotional campaigns



-- QUERY 3: Advanced Window Functions - Running Totals and Moving Averages
-- Business Purpose: Time-series analysis for business growth tracking:
-- - Monitor booking trends over time
-- - Calculate running revenue totals
-- - Identify seasonal patterns
-- - Support financial forecasting

SELECT 
    DATE_TRUNC('month', b.check_in) AS booking_month,
    COUNT(b.booking_id) AS monthly_bookings,
    SUM(b.total_amount) AS monthly_revenue,
    -- WINDOW FUNCTION: Running total of bookings
    SUM(COUNT(b.booking_id)) OVER (
        ORDER BY DATE_TRUNC('month', b.check_in)
        ROWS BETWEEN UNBOUNDED PRECEDING AND CURRENT ROW
    ) AS running_total_bookings,
    -- WINDOW FUNCTION: Running total of revenue
    SUM(SUM(b.total_amount)) OVER (
        ORDER BY DATE_TRUNC('month', b.check_in)
        ROWS BETWEEN UNBOUNDED PRECEDING AND CURRENT ROW
    ) AS running_total_revenue,
    -- WINDOW FUNCTION: Moving average of bookings (3-month window)
    ROUND(
        AVG(COUNT(b.booking_id)) OVER (
            ORDER BY DATE_TRUNC('month', b.check_in)
            ROWS BETWEEN 2 PRECEDING AND CURRENT ROW
        ), 2
    ) AS moving_avg_bookings_3mo,
    -- WINDOW FUNCTION: Month-over-month growth percentage
    ROUND(
        ((COUNT(b.booking_id) - LAG(COUNT(b.booking_id), 1) OVER (ORDER BY DATE_TRUNC('month', b.check_in))) * 100.0 /
        NULLIF(LAG(COUNT(b.booking_id), 1) OVER (ORDER BY DATE_TRUNC('month', b.check_in)), 0)), 
        2
    ) AS booking_growth_percentage,
    -- WINDOW FUNCTION: Ranking months by revenue
    RANK() OVER (
        ORDER BY SUM(b.total_amount) DESC
    ) AS revenue_rank
FROM 
    bookings b
WHERE 
    b.status = 'confirmed'
    AND b.check_in >= CURRENT_DATE - INTERVAL '1 year'  -- Last 12 months
GROUP BY 
    DATE_TRUNC('month', b.check_in)
ORDER BY 
    booking_month;

-- BUSINESS INTELLIGENCE APPLICATIONS:
-- 1. GROWTH TRACKING: Monitor business expansion over time
-- 2. SEASONALITY ANALYSIS: Identify peak and off-peak periods
-- 3. FORECASTING: Use trends to predict future performance
-- 4. PERFORMANCE BENCHMARKING: Compare current performance to historical data
-- 5. RESOURCE PLANNING: Allocate resources based on seasonal demand



-- QUERY 4: Complex Aggregation - Host Performance Dashboard
-- Business Purpose: Comprehensive host performance analysis for:
-- - Host reward programs
-- - Quality assurance monitoring
-- - Partnership opportunities
-- - Platform growth strategies

SELECT 
    h.user_id AS host_id,
    h.first_name AS host_first_name,
    h.last_name AS host_last_name,
    h.email AS host_email,
    h.created_at AS host_since,
    -- Property portfolio metrics
    COUNT(p.property_id) AS total_properties,
    AVG(p.base_price) AS average_property_price,
    -- Booking performance metrics
    COUNT(b.booking_id) AS total_bookings,
    SUM(b.total_amount) AS total_revenue,
    AVG(b.total_amount) AS average_booking_value,
    -- Occupancy rate calculation
    ROUND(
        (COUNT(b.booking_id) * 1.0 / 
        NULLIF(COUNT(p.property_id) * 365, 0)) * 100, 
        2
    ) AS estimated_occupancy_rate,
    -- Quality metrics
    AVG(pr.rating) AS average_property_rating,
    COUNT(pr.review_id) AS total_reviews,
    -- WINDOW FUNCTION: Host ranking by revenue
    RANK() OVER (
        ORDER BY SUM(b.total_amount) DESC
    ) AS host_revenue_rank,
    -- WINDOW FUNCTION: Host ranking within property count category
    RANK() OVER (
        PARTITION BY 
            CASE 
                WHEN COUNT(p.property_id) = 1 THEN 'Single Property'
                WHEN COUNT(p.property_id) BETWEEN 2 AND 5 THEN 'Small Portfolio'
                ELSE 'Large Portfolio'
            END
        ORDER BY SUM(b.total_amount) DESC
    ) AS rank_in_portfolio_size,
    -- WINDOW FUNCTION: Percent of total platform revenue
    ROUND(
        (SUM(b.total_amount) * 100.0 / NULLIF(SUM(SUM(b.total_amount)) OVER (), 0)), 
        2
    ) AS percent_of_platform_revenue
FROM 
    users h
LEFT JOIN 
    properties p ON h.user_id = p.host_id
LEFT JOIN 
    bookings b ON p.property_id = b.property_id AND b.status = 'confirmed'
LEFT JOIN 
    property_reviews pr ON p.property_id = pr.property_id
WHERE 
    h.user_type = 'host'
GROUP BY 
    h.user_id, h.first_name, h.last_name, h.email, h.created_at
HAVING 
    COUNT(p.property_id) > 0  -- Only include hosts with properties
ORDER BY 
    total_revenue DESC,
    average_property_rating DESC;

-- BUSINESS INTELLIGENCE APPLICATIONS:
-- 1. HOST REWARDS: Identify top-performing hosts for incentives
-- 2. QUALITY STANDARDS: Monitor host performance for platform quality
-- 3. PARTNERSHIP DEVELOPMENT: Target successful hosts for exclusive programs
-- 4. REVENUE OPTIMIZATION: Focus on hosts driving significant revenue
-- 5. GROWTH STRATEGY: Understand characteristics of successful hosts