

-- ====================================================
-- DATABASE INDEXING STRATEGY FOR AIRBNB OPTIMIZATION
-- Performance tuning for high-traffic queries
-- ====================================================

-- SECTION 1: USERS TABLE INDEXES
-- High-usage patterns: User authentication, profile lookups, user analytics

-- Index for user authentication and email lookups
CREATE INDEX idx_users_email ON users(email);
-- Business Impact: Speeds up login, password reset, and user verification
-- Usage: WHERE email = ?, JOIN conditions, UNIQUE constraint support

-- Index for user type filtering and segmentation
CREATE INDEX idx_users_user_type ON users(user_type);
-- Business Impact: Faster user segmentation for marketing and analytics
-- Usage: WHERE user_type = 'guest'/'host', GROUP BY user_type

-- Composite index for user search and filtering
CREATE INDEX idx_users_type_status ON users(user_type, created_at);
-- Business Impact: Optimizes user management dashboards and reporting
-- Usage: WHERE user_type = ? AND created_at > ?, ORDER BY created_at

-- Index for user creation date (analytics and reporting)
CREATE INDEX idx_users_created_at ON users(created_at);
-- Business Impact: Faster user growth analytics and time-based queries
-- Usage: WHERE created_at BETWEEN ? AND ?, ORDER BY created_at DESC



-- SECTION 2: PROPERTIES TABLE INDEXES  
-- High-usage patterns: Search, filtering, host management, property analytics

-- Composite index for location-based searches
CREATE INDEX idx_properties_location ON properties(city, state, country);
-- Business Impact: Dramatically improves property search performance
-- Usage: WHERE city = ? AND state = ?, JOIN conditions for location filters

-- Index for host management and property ownership queries
CREATE INDEX idx_properties_host_id ON properties(host_id);
-- Business Impact: Faster host dashboard and property management
-- Usage: WHERE host_id = ?, JOIN users ON host_id

-- Composite index for search filtering by type and price
CREATE INDEX idx_properties_type_price ON properties(property_type, base_price);
-- Business Impact: Optimizes property discovery with multiple filters
-- Usage: WHERE property_type = ? AND base_price BETWEEN ? AND ?

-- Index for property status and availability management
CREATE INDEX idx_properties_status ON properties(status);
-- Business Impact: Faster moderation and property lifecycle management
-- Usage: WHERE status = 'active', COUNT active properties

-- Composite index for advanced search with multiple criteria
CREATE INDEX idx_properties_search_advanced ON properties(property_type, bedrooms, accommodates, base_price);
-- Business Impact: Handles complex search queries with multiple filters
-- Usage: WHERE property_type = ? AND bedrooms >= ? AND accommodates >= ?

-- Index for property creation date (analytics and new listings)
CREATE INDEX idx_properties_created_at ON properties(created_at);
-- Business Impact: Faster new listing reports and growth analytics
-- Usage: WHERE created_at > ?, ORDER BY created_at DESC



-- SECTION 3: BOOKINGS TABLE INDEXES
-- High-usage patterns: Availability checks, user booking history, financial reports

-- Composite index for availability checking (CRITICAL FOR PERFORMANCE)
CREATE INDEX idx_bookings_property_dates ON bookings(property_id, check_in, check_out);
-- Business Impact: Essential for real-time availability verification
-- Usage: WHERE property_id = ? AND check_in <= ? AND check_out >= ?

-- Index for guest booking history and user analytics
CREATE INDEX idx_bookings_guest_id ON bookings(guest_id);
-- Business Impact: Faster user booking history and personalization
-- Usage: WHERE guest_id = ?, JOIN users ON guest_id

-- Composite index for host booking management
CREATE INDEX idx_bookings_property_status ON bookings(property_id, status);
-- Business Impact: Optimizes host dashboard and booking management
-- Usage: WHERE property_id = ? AND status IN ('confirmed', 'pending')

-- Index for booking dates (temporal analysis and reporting)
CREATE INDEX idx_bookings_check_in ON bookings(check_in);
CREATE INDEX idx_bookings_check_out ON bookings(check_out);
-- Business Impact: Faster date-range queries and occupancy analytics
-- Usage: WHERE check_in BETWEEN ? AND ?, ORDER BY check_in DESC

-- Composite index for financial reporting and revenue analytics
CREATE INDEX idx_bookings_dates_status_amount ON bookings(check_in, status, total_amount);
-- Business Impact: Optimizes revenue reports and financial analytics
-- Usage: WHERE check_in > ? AND status = 'confirmed', SUM(total_amount)

-- Index for booking status filtering
CREATE INDEX idx_bookings_status ON bookings(status);
-- Business Impact: Faster booking management and workflow processing
-- Usage: WHERE status = ?, COUNT bookings by status



-- SECTION 4: PROPERTY_REVIEWS TABLE INDEXES
-- High-usage patterns: Rating calculations, review display, quality metrics

-- Composite index for property rating calculations
CREATE INDEX idx_reviews_property_rating ON property_reviews(property_id, rating);
-- Business Impact: Faster average rating calculations and review aggregation
-- Usage: WHERE property_id = ?, AVG(rating), ORDER BY rating DESC

-- Index for guest review history
CREATE INDEX idx_reviews_guest_id ON property_reviews(guest_id);
-- Business Impact: Optimizes user review history and profile pages
-- Usage: WHERE guest_id = ?, JOIN users ON guest_id

-- Index for review dates (recent reviews, time-based analysis)
CREATE INDEX idx_reviews_created_at ON property_reviews(created_at);
-- Business Impact: Faster recent review queries and time-based filtering
-- Usage: WHERE created_at > ?, ORDER BY created_at DESC

-- Composite index for quality metrics and reporting
CREATE INDEX idx_reviews_property_date ON property_reviews(property_id, created_at);
-- Business Impact: Optimizes property performance dashboards
-- Usage: WHERE property_id = ? AND created_at BETWEEN ? AND ?



-- SECTION 5: COMPOSITE INDEXES FOR COMMON QUERY PATTERNS
-- Optimizing frequently used join and filter combinations

-- For user booking history with property details
CREATE INDEX idx_user_bookings_comprehensive ON bookings(guest_id, check_in, status)
INCLUDE (property_id, total_amount);
-- Business Impact: Optimizes user profile pages with booking history

-- For host property management dashboard
CREATE INDEX idx_host_properties_bookings ON properties(host_id, property_id)
INCLUDE (title, base_price, status);
-- Business Impact: Faster host dashboard with property and booking overview

-- For search results with sorting and pagination
CREATE INDEX idx_search_performance ON properties(city, property_type, base_price, accommodates)
INCLUDE (title, bedrooms, bathrooms, average_rating);
-- Business Impact: Optimizes property discovery with multiple sort options



-- SECTION 6: PARTIAL INDEXES FOR OPTIMIZED SCENARIOS
-- Indexes that only include specific data subsets for better performance

-- Index only for active properties (reduces index size)
CREATE INDEX idx_properties_active ON properties(property_id) 
WHERE status = 'active';
-- Business Impact: Faster search queries that only need active properties

-- Index only for confirmed bookings (most common booking type)
CREATE INDEX idx_bookings_confirmed ON bookings(booking_id, check_in, property_id)
WHERE status = 'confirmed';
-- Business Impact: Optimizes reporting and analytics for completed bookings

-- Index for high-rated properties (premium listing features)
CREATE INDEX idx_properties_high_rated ON properties(property_id, base_price)
WHERE average_rating >= 4.0;
-- Business Impact: Faster premium property discovery and featuring



-- SECTION 7: MONITORING AND MAINTENANCE COMMANDS
-- Useful commands for index management and performance monitoring

-- Check index usage statistics
SELECT 
    schemaname,
    tablename,
    indexname,
    idx_scan as index_scans,
    idx_tup_read as tuples_read,
    idx_tup_fetch as tuples_fetched
FROM pg_stat_user_indexes 
WHERE tablename IN ('users', 'properties', 'bookings', 'property_reviews')
ORDER BY idx_scan DESC;

-- Check index size and bloat
SELECT 
    indexname,
    pg_size_pretty(pg_relation_size(indexname::regclass)) as index_size
FROM pg_indexes 
WHERE tablename IN ('users', 'properties', 'bookings', 'property_reviews')
ORDER BY pg_relation_size(indexname::regclass) DESC;

-- Rebuild indexes if needed (for maintenance)
-- REINDEX INDEX idx_bookings_property_dates;
-- REINDEX TABLE bookings;