

-- Query 1: INNER JOIN - Bookings with User Details
-- Business Purpose: This query helps customer service and hosts understand 
-- who booked which properties and when. Essential for booking management,
-- customer support, and host communications.

SELECT 
    b.booking_id,
    b.check_in,
    b.check_out,
    b.total_amount,
    b.status As booking_status,
    u.user_id,
    u.first_name,
    u.last_name,
    u.email,
    p.property_id,
    p.title AS property_title,
    p.location AS property_location
    FROM
        bookings 
    INNER JOIN
        users u ON b.guest_id = u.user_id
    ORDER BY
        b.check_in DESC;


-- Query 2: LEFT JOIN - All Properties with Their Reviews (Including Properties with No Reviews)
-- Business Purpose: This query helps analyze property performance and identify 
-- properties that need more marketing attention (those without reviews).
-- Also useful for new hosts to see how reviewed properties perform.

SELECT 
    p.property_id,
    p.title AS property_title,
    p.base_price,
    p.accommodates,
    COALESCE(r.rating, 0) As review_rating,
    r.comment AS review_comment,
    r.created_at As review_date,
    u.first_name AS reviewer_name
FROM
    properties p
LEFT JOIN
    property_reviews r ON p.property_id = r.property_id
LEFT JOIN
    users u ON r.guest_id = u.user_id
ORDER BY
    p.property_id, r.created-at DESC;
-- LEFT JOIN ensures we get ALL properties, even those without any reviews
-- COALESCE handles null ratings for properties without reviews
-- Essential for property performance dashboard and host analytics

-- Query 3: FULL OUTER JOIN - All Users and All Bookings
-- Business Purpose: This comprehensive view helps identify:
-- 1. Users who haven't made any bookings (potential marketing targets)
-- 2. Orphaned bookings without valid users (data integrity issues)
-- 3. Complete user engagement analysis

SELECT 
    COALESCE(u.user_id, 'NO_USER') AS user_id,
    COALESCE(u.first_name, 'NO_USER') AS first_name,
    COALESCE(u.last_name, 'NO_USER') AS last_name,
    COALESCE(u.email, 'NO_USER') AS email,
    COALESCE(b.booking_id, 'NO_BOOKING') AS booking_id,
    b.check_in,
    b.check_out,
    b.total_amount,
    b.status AS booking_status
FROM 
    users u
FULL OUTER JOIN 
    bookings b ON u.user_id = b.guest_id
ORDER BY 
    u.user_id, b.check_in DESC;
-- FULL OUTER JOIN captures all records from both tables
-- COALESCE provides meaningful values for NULL entries
-- Critical for data quality audits and user engagement analysis

-- Query 4: Multiple Joins with Aggregation - Property Performance Analysis
-- Business Purpose: Comprehensive property performance dashboard for hosts and admins
-- Shows revenue, booking count, and average ratings in one view

SELECT 
    p.property_id,
    p.title AS property_title,
    p.property_type,
    p.base_price,
    h.first_name AS host_name,
    h.email AS host_email,
    COUNT(b.booking_id) AS total_bookings,
    COALESCE(SUM(b.total_amount), 0) AS total_revenue,
    COALESCE(AVG(r.rating), 0) AS average_rating,
    COUNT(r.review_id) AS review_count
FROM 
    properties p
INNER JOIN 
    users h ON p.host_id = h.user_id
LEFT JOIN 
    bookings b ON p.property_id = b.property_id AND b.status = 'confirmed'
LEFT JOIN 
    property_reviews r ON p.property_id = r.property_id
GROUP BY 
    p.property_id, p.title, p.property_type, p.base_price, h.first_name, h.email
ORDER BY 
    total_revenue DESC, average_rating DESC;
-- Multiple joins combine property, host, booking, and review data
-- Essential for business intelligence and host performance reports



-- Query 5: Self Join - Find Similar Properties by Same Host
-- Business Purpose: Help hosts manage multiple properties and 
-- suggest similar properties to guests when their first choice is booked

SELECT 
    p1.property_id AS property_1_id,
    p1.title AS property_1_title,
    p1.property_type AS property_1_type,
    p1.base_price AS property_1_price,
    p2.property_id AS property_2_id,
    p2.title AS property_2_title,
    p2.property_type AS property_2_type,
    p2.base_price AS property_2_price,
    h.first_name AS host_name
FROM 
    properties p1
INNER JOIN 
    properties p2 ON p1.host_id = p2.host_id AND p1.property_id != p2.property_id
INNER JOIN 
    users h ON p1.host_id = h.user_id
WHERE 
    p1.property_type = p2.property_type
    AND ABS(p1.base_price - p2.base_price) <= 50  -- Properties with similar pricing
ORDER BY 
    h.first_name, p1.property_id;
-- Self join on the same table to find related records
-- Useful for cross-selling and host portfolio management