-- ====================================================
-- TABLE PARTITIONING STRATEGY - AIRBNB BOOKINGS TABLE
-- Optimizing large dataset performance through partitioning
-- ====================================================

-- SECTION 1: CURRENT TABLE STRUCTURE ANALYSIS
-- Analyze the existing bookings table before partitioning

-- Check current table size and row count
SELECT 
    schemaname,
    tablename,
    table_size,
    row_estimate
FROM (
    SELECT 
        schemaname,
        tablename,
        pg_size_pretty(pg_total_relation_size(schemaname||'.'||tablename)) as table_size,
        n_live_tup as row_estimate
    FROM pg_stat_user_tables 
    WHERE tablename = 'bookings'
) AS table_stats;

-- Analyze data distribution by year for partitioning strategy
SELECT 
    EXTRACT(YEAR FROM check_in) as booking_year,
    COUNT(*) as booking_count,
    ROUND(COUNT(*) * 100.0 / (SELECT COUNT(*) FROM bookings), 2) as percentage
FROM bookings
GROUP BY EXTRACT(YEAR FROM check_in)
ORDER BY booking_year;

-- SECTION 2: CREATE PARTITIONED TABLE STRUCTURE
-- Implement range partitioning by check_in date

-- Step 1: Create the master partitioned table
CREATE TABLE bookings_partitioned (
    booking_id UUID DEFAULT gen_random_uuid(),
    guest_id UUID NOT NULL,
    property_id UUID NOT NULL,
    check_in DATE NOT NULL,
    check_out DATE NOT NULL,
    total_amount DECIMAL(10,2) NOT NULL,
    status VARCHAR(20) NOT NULL DEFAULT 'pending',
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    
    -- Primary key must include partition key
    PRIMARY KEY (booking_id, check_in)
) PARTITION BY RANGE (check_in);

-- Step 2: Create individual partitions by year
-- Historical partitions (adjust dates based on your data)

-- 2020 partition
CREATE TABLE bookings_2020 PARTITION OF bookings_partitioned
FOR VALUES FROM ('2020-01-01') TO ('2021-01-01');

-- 2021 partition  
CREATE TABLE bookings_2021 PARTITION OF bookings_partitioned
FOR VALUES FROM ('2021-01-01') TO ('2022-01-01');

-- 2022 partition
CREATE TABLE bookings_2022 PARTITION OF bookings_partitioned
FOR VALUES FROM ('2022-01-01') TO ('2023-01-01');

-- 2023 partition
CREATE TABLE bookings_2023 PARTITION OF bookings_partitioned
FOR VALUES FROM ('2023-01-01') TO ('2024-01-01');

-- 2024 partition (current year)
CREATE TABLE bookings_2024 PARTITION OF bookings_partitioned
FOR VALUES FROM ('2024-01-01') TO ('2025-01-01');

-- 2025 partition (future bookings)
CREATE TABLE bookings_2025 PARTITION OF bookings_partitioned
FOR VALUES FROM ('2025-01-01') TO ('2026-01-01');

-- Default partition for any unexpected dates
CREATE TABLE bookings_default PARTITION OF bookings_partitioned
DEFAULT;

-- SECTION 3: MIGRATE DATA FROM ORIGINAL TABLE
-- Copy data from original bookings table to partitioned structure

-- Option A: Direct data migration (for smaller datasets)
INSERT INTO bookings_partitioned 
SELECT * FROM bookings;

-- Option B: Batched migration (for large datasets - recommended)
DO $$
DECLARE
    batch_size INTEGER := 10000;
    total_rows INTEGER;
    processed_rows INTEGER := 0;
BEGIN
    -- Get total rows
    SELECT COUNT(*) INTO total_rows FROM bookings;
    
    -- Process in batches to avoid transaction size issues
    WHILE processed_rows < total_rows LOOP
        INSERT INTO bookings_partitioned 
        SELECT * 
        FROM bookings 
        ORDER BY booking_id 
        LIMIT batch_size 
        OFFSET processed_rows;
        
        processed_rows := processed_rows + batch_size;
        
        -- Optional: Add delay to reduce system load
        -- PERFORM pg_sleep(0.1);
    END LOOP;
END $$;

-- SECTION 4: CREATE PARTITION-SPECIFIC INDEXES
-- Optimize indexes for each partition's access patterns

-- Global indexes (on the partitioned table)
CREATE INDEX CONCURRENTLY idx_bookings_partitioned_guest_id 
ON bookings_partitioned (guest_id);

CREATE INDEX CONCURRENTLY idx_bookings_partitioned_property_id 
ON bookings_partitioned (property_id);

CREATE INDEX CONCURRENTLY idx_bookings_partitioned_status 
ON bookings_partitioned (status);

CREATE INDEX CONCURRENTLY idx_bookings_partitioned_dates 
ON bookings_partitioned (check_in, check_out);

-- Partition-specific indexes (can have different strategies per partition)
CREATE INDEX CONCURRENTLY idx_bookings_2024_dates_status 
ON bookings_2024 (check_in, check_out, status);

CREATE INDEX CONCURRENTLY idx_bookings_2024_guest_dates 
ON bookings_2024 (guest_id, check_in);

-- SECTION 5: UPDATE FOREIGN KEY CONSTRAINTS
-- Maintain referential integrity in partitioned structure

-- Note: Foreign keys in partitioned tables have limitations in PostgreSQL
-- We'll handle this at application level or with triggers if needed

-- SECTION 6: CREATE AUTOMATIC PARTITION MANAGEMENT
-- Set up system to automatically create future partitions

-- Function to create new yearly partitions
CREATE OR REPLACE FUNCTION create_booking_partition()
RETURNS trigger AS $$
DECLARE
    partition_start DATE;
    partition_end DATE;
    partition_name TEXT;
BEGIN
    -- Calculate next year's partition
    partition_start := DATE_TRUNC('year', NEW.check_in)::DATE;
    partition_end := partition_start + INTERVAL '1 year';
    partition_name := 'bookings_' || EXTRACT(YEAR FROM partition_start);
    
    -- Create partition if it doesn't exist
    IF NOT EXISTS (
        SELECT 1 FROM pg_class 
        WHERE relname = partition_name
    ) THEN
        EXECUTE format(
            'CREATE TABLE %I PARTITION OF bookings_partitioned FOR VALUES FROM (%L) TO (%L)',
            partition_name, partition_start, partition_end
        );
        
        -- Create partition-specific indexes
        EXECUTE format(
            'CREATE INDEX CONCURRENTLY %I ON %I (check_in, check_out, status)',
            partition_name || '_dates_status', partition_name
        );
    END IF;
    
    RETURN NEW;
END;
$$ LANGUAGE plpgsql;

-- Trigger to automatically manage partitions (optional - can be handled manually)
-- CREATE TRIGGER trigger_create_booking_partition
--     BEFORE INSERT ON bookings_partitioned
--     FOR EACH ROW
--     EXECUTE FUNCTION create_booking_partition();

-- SECTION 7: QUERY PERFORMANCE TESTING
-- Test queries on partitioned vs non-partitioned tables

-- Test Query 1: Date range queries (primary use case for partitioning)
EXPLAIN (ANALYZE, BUFFERS) 
SELECT COUNT(*) 
FROM bookings_partitioned 
WHERE check_in BETWEEN '2024-01-01' AND '2024-12-31'
    AND status = 'confirmed';

-- Compare with original table
EXPLAIN (ANALYZE, BUFFERS) 
SELECT COUNT(*) 
FROM bookings 
WHERE check_in BETWEEN '2024-01-01' AND '2024-12-31'
    AND status = 'confirmed';

-- Test Query 2: Cross-partition queries
EXPLAIN (ANALYZE, BUFFERS)
SELECT 
    EXTRACT(YEAR FROM check_in) as year,
    COUNT(*) as booking_count,
    SUM(total_amount) as total_revenue
FROM bookings_partitioned 
WHERE check_in BETWEEN '2020-01-01' AND '2024-12-31'
    AND status = 'confirmed'
GROUP BY EXTRACT(YEAR FROM check_in)
ORDER BY year;

-- Test Query 3: Recent bookings (hot partition)
EXPLAIN (ANALYZE, BUFFERS)
SELECT 
    b.booking_id,
    b.check_in,
    b.total_amount,
    g.first_name,
    p.title as property_title
FROM bookings_partitioned b
JOIN users g ON b.guest_id = g.user_id
JOIN properties p ON b.property_id = p.property_id
WHERE b.check_in BETWEEN '2024-06-01' AND '2024-12-31'
    AND b.status = 'confirmed'
ORDER BY b.check_in DESC
LIMIT 100;

-- SECTION 8: PARTITION MAINTENANCE OPERATIONS
-- Routine maintenance operations for partitioned tables

-- Analyze partition usage statistics
SELECT 
    schemaname,
    tablename,
    n_tup_ins as rows_inserted,
    n_tup_upd as rows_updated,
    n_tup_del as rows_deleted
FROM pg_stat_user_tables 
WHERE tablename LIKE 'bookings_%'
ORDER BY tablename;

-- Check partition sizes
SELECT 
    partition_name,
    pg_size_pretty(pg_total_relation_size(partition_name)) as partition_size,
    (SELECT COUNT(*) FROM bookings_partitioned WHERE tableoid = partition_name::regclass) as row_count
FROM (
    SELECT 
        schemaname||'.'||partitiontablename as partition_name
    FROM pg_partitions 
    WHERE tablename = 'bookings_partitioned'
    UNION ALL
    SELECT 
        schemaname||'.'||tablename as partition_name
    FROM pg_stat_user_tables 
    WHERE tablename LIKE 'bookings_%'
) AS partitions
ORDER BY partition_name;

-- SECTION 9: ARCHIVING STRATEGY FOR OLD PARTITIONS
-- Implement data lifecycle management

-- Detach old partitions for archiving (e.g., bookings older than 3 years)
ALTER TABLE bookings_partitioned 
DETACH PARTITION bookings_2020;

-- The detached partition becomes a regular table that can be:
-- 1. Moved to slower storage
-- 2. Backed up and removed from production
-- 3. Used for historical reporting only

-- Create a foreign table wrapper for archived data if needed
CREATE EXTENSION IF NOT EXISTS postgres_fdw;

-- SECTION 10: ROLLBACK STRATEGY
-- Safe rollback procedure if partitioning causes issues

-- Option 1: Keep both tables during transition period
-- Rename original table as backup
ALTER TABLE bookings RENAME TO bookings_backup;

-- Rename partitioned table to take its place
ALTER TABLE bookings_partitioned RENAME TO bookings;

-- Option 2: Quick rollback
-- ALTER TABLE bookings_partitioned RENAME TO bookings_partitioned_backup;
-- ALTER TABLE bookings_backup RENAME TO bookings;

-- SECTION 11: APPLICATION-LEVEL CHANGES
-- Guide for updating application code

-- 1. Update queries to leverage partition pruning
--    Ensure WHERE clauses use the partition key (check_in)

-- 2. Consider connection pool settings for partitioned tables

-- 3. Update monitoring and alerting for partition management

-- Example of partition-aware query optimization
-- GOOD: Uses partition key in WHERE clause
EXPLAIN (ANALYZE) 
SELECT * FROM bookings 
WHERE check_in >= '2024-01-01' 
    AND check_in < '2024-02-01';

-- BAD: Doesn't use partition key effectively  
EXPLAIN (ANALYZE)
SELECT * FROM bookings 
WHERE guest_id = '123e4567-e89b-12d3-a456-426614174000'
    AND EXTRACT(YEAR FROM check_in) = 2024;