-- ====================================================
-- QUERY PERFORMANCE OPTIMIZATION - AIRBNB DATABASE
-- Initial vs Optimized Query Analysis (SQL Server Compatible)
-- ====================================================

-- SECTION 1: INITIAL COMPLEX QUERY (BEFORE OPTIMIZATION)
-- Retrieves comprehensive booking details with multiple joins
-- This query represents a common reporting/analytics requirement

-- Initial Query: Comprehensive Booking Analysis Report
SELECT 
    -- Booking details
    b.booking_id,
    b.check_in,
    b.check_out,
    b.total_amount,
    b.status AS booking_status,
    b.created_at AS booking_created,
    
    -- Guest details
    g.user_id AS guest_id,
    g.first_name AS guest_first_name,
    g.last_name AS guest_last_name,
    g.email AS guest_email,
    g.phone_number AS guest_phone,
    
    -- Property details
    p.property_id,
    p.title AS property_title,
    p.property_type,
    p.base_price,
    p.accommodates,
    p.bedrooms,
    p.bathrooms,
    p.city,
    p.state,
    p.country,
    
    -- Host details
    h.user_id AS host_id,
    h.first_name AS host_first_name,
    h.last_name AS host_last_name,
    h.email AS host_email,
    h.phone_number AS host_phone,
    
    -- Payment details
    pay.payment_id,
    pay.amount AS payment_amount,
    pay.currency,
    pay.status AS payment_status,
    pay.created_at AS payment_date,
    
    -- Review details (if exists)
    r.rating AS guest_rating,
    r.comment AS guest_review,
    r.created_at AS review_date,
    
    -- Additional calculated fields
    DATEDIFF(DAY, b.check_in, b.check_out) AS nights_stayed,
    (b.total_amount / NULLIF(DATEDIFF(DAY, b.check_in, b.check_out), 0)) AS price_per_night,
    
    -- Subquery for property average rating (expensive!)
    (
        SELECT ROUND(AVG(CAST(r2.rating AS FLOAT)), 2)
        FROM property_reviews r2
        WHERE r2.property_id = p.property_id
    ) AS property_avg_rating,
    
    -- Subquery for host total properties (expensive!)
    (
        SELECT COUNT(p2.property_id)
        FROM properties p2
        WHERE p2.host_id = h.user_id
    ) AS host_total_properties

FROM bookings b

-- Multiple JOIN operations
INNER JOIN users g ON b.guest_id = g.user_id
INNER JOIN properties p ON b.property_id = p.property_id
INNER JOIN users h ON p.host_id = h.user_id
LEFT JOIN payments pay ON b.booking_id = pay.booking_id
LEFT JOIN property_reviews r ON b.booking_id = r.booking_id

-- Broad filtering (could be more specific)
WHERE b.created_at >= DATEADD(YEAR, -1, GETDATE())
    AND b.status IN ('confirmed', 'completed')
    
-- Complex ordering
ORDER BY 
    b.created_at DESC,
    b.total_amount DESC,
    property_avg_rating DESC

-- SQL Server uses TOP instead of LIMIT
OFFSET 0 ROWS FETCH FIRST 1000 ROWS ONLY;



-- SECTION 2: PERFORMANCE ANALYSIS WITH EXPLAIN
-- Analyze the initial query to identify bottlenecks

-- Generate execution plan for initial query
SET STATISTICS IO ON;
SET STATISTICS TIME ON;

SELECT 
    b.booking_id,
    b.check_in,
    b.check_out,
    b.total_amount,
    b.status,
    g.first_name AS guest_first_name,
    g.last_name AS guest_last_name,
    p.title AS property_title,
    p.property_type,
    h.first_name AS host_first_name,
    pay.amount AS payment_amount,
    pay.status AS payment_status
FROM bookings b
INNER JOIN users g ON b.guest_id = g.user_id
INNER JOIN properties p ON b.property_id = p.property_id
INNER JOIN users h ON p.host_id = h.user_id
LEFT JOIN payments pay ON b.booking_id = pay.booking_id
WHERE b.created_at >= DATEADD(YEAR, -1, GETDATE())
    AND b.status IN ('confirmed', 'completed')
ORDER BY b.created_at DESC
OFFSET 0 ROWS FETCH FIRST 1000 ROWS ONLY;

SET STATISTICS IO OFF;
SET STATISTICS TIME OFF;



-- SECTION 3: OPTIMIZED QUERY (AFTER OPTIMIZATION)
-- Refactored for better performance with same business requirements

-- Optimized Query: Focused Booking Analysis with Strategic Denormalization
WITH booking_summary AS (
    SELECT 
        b.booking_id,
        b.guest_id,
        b.property_id,
        b.check_in,
        b.check_out,
        b.total_amount,
        b.status AS booking_status,
        b.created_at AS booking_created,
        DATEDIFF(DAY, b.check_in, b.check_out) AS nights_stayed,
        (b.total_amount / NULLIF(DATEDIFF(DAY, b.check_in, b.check_out), 0)) AS price_per_night
    FROM bookings b
    WHERE b.created_at >= DATEADD(YEAR, -1, GETDATE())
        AND b.status IN ('confirmed', 'completed')
),

property_summary AS (
    SELECT 
        p.property_id,
        p.title AS property_title,
        p.property_type,
        p.base_price,
        p.accommodates,
        p.bedrooms,
        p.bathrooms,
        p.city,
        p.state,
        p.country,
        p.host_id,
        -- Pre-calculate average rating to avoid correlated subquery
        COALESCE(pr_agg.avg_rating, 0) AS property_avg_rating,
        COALESCE(pr_agg.review_count, 0) AS property_review_count
    FROM properties p
    LEFT JOIN (
        SELECT 
            property_id,
            ROUND(AVG(CAST(rating AS FLOAT)), 2) AS avg_rating,
            COUNT(*) AS review_count
        FROM property_reviews
        GROUP BY property_id
    ) pr_agg ON p.property_id = pr_agg.property_id
),

host_summary AS (
    SELECT 
        h.user_id AS host_id,
        h.first_name AS host_first_name,
        h.last_name AS host_last_name,
        h.email AS host_email,
        h.phone_number AS host_phone,
        -- Pre-calculate property count to avoid correlated subquery
        COALESCE(p_agg.property_count, 0) AS host_total_properties
    FROM users h
    LEFT JOIN (
        SELECT 
            host_id,
            COUNT(*) AS property_count
        FROM properties
        GROUP BY host_id
    ) p_agg ON h.user_id = p_agg.host_id
    WHERE h.user_type = 'host'
)

SELECT TOP 1000
    -- Booking details (from CTE)
    bs.booking_id,
    bs.check_in,
    bs.check_out,
    bs.total_amount,
    bs.booking_status,
    bs.booking_created,
    bs.nights_stayed,
    bs.price_per_night,
    
    -- Guest details (direct join - minimal impact)
    g.first_name AS guest_first_name,
    g.last_name AS guest_last_name,
    g.email AS guest_email,
    g.phone_number AS guest_phone,
    
    -- Property details (from pre-aggregated CTE)
    ps.property_title,
    ps.property_type,
    ps.base_price,
    ps.accommodates,
    ps.bedrooms,
    ps.bathrooms,
    ps.city,
    ps.state,
    ps.country,
    ps.property_avg_rating,
    ps.property_review_count,
    
    -- Host details (from pre-aggregated CTE)
    hs.host_first_name,
    hs.host_last_name,
    hs.host_email,
    hs.host_phone,
    hs.host_total_properties,
    
    -- Payment details (single left join)
    pay.amount AS payment_amount,
    pay.currency,
    pay.status AS payment_status,
    pay.created_at AS payment_date,
    
    -- Review details (single left join)
    r.rating AS guest_rating,
    r.comment AS guest_review,
    r.created_at AS review_date

FROM booking_summary bs

-- Optimized join sequence and conditions
INNER JOIN users g ON bs.guest_id = g.user_id
INNER JOIN property_summary ps ON bs.property_id = ps.property_id
INNER JOIN host_summary hs ON ps.host_id = hs.host_id
LEFT JOIN payments pay ON bs.booking_id = pay.booking_id
LEFT JOIN property_reviews r ON bs.booking_id = r.booking_id

-- Simplified ordering (removed expensive calculated fields)
ORDER BY bs.booking_created DESC, bs.total_amount DESC;



-- SECTION 4: PERFORMANCE ANALYSIS FOR OPTIMIZED QUERY
-- Compare performance improvements

-- Generate execution plan for optimized query
SET STATISTICS IO ON;
SET STATISTICS TIME ON;

WITH booking_summary AS (
    SELECT 
        b.booking_id,
        b.guest_id,
        b.property_id,
        b.check_in,
        b.check_out,
        b.total_amount,
        b.status,
        b.created_at
    FROM bookings b
    WHERE b.created_at >= DATEADD(YEAR, -1, GETDATE())
        AND b.status IN ('confirmed', 'completed')
)
SELECT TOP 1000
    bs.booking_id,
    bs.check_in,
    bs.check_out,
    bs.total_amount,
    bs.status,
    g.first_name AS guest_first_name,
    p.title AS property_title,
    h.first_name AS host_first_name,
    pay.amount AS payment_amount
FROM booking_summary bs
INNER JOIN users g ON bs.guest_id = g.user_id
INNER JOIN properties p ON bs.property_id = p.property_id
INNER JOIN users h ON p.host_id = h.user_id
LEFT JOIN payments pay ON bs.booking_id = pay.booking_id
ORDER BY bs.created_at DESC;

SET STATISTICS IO OFF;
SET STATISTICS TIME OFF;



-- SECTION 5: ADDITIONAL OPTIMIZATION TECHNIQUES
-- Alternative approaches for different scenarios

-- Option A: Indexed Views for Frequent Reports
-- (For scenarios where data doesn't need real-time accuracy)
IF OBJECT_ID('vw_booking_analytics', 'V') IS NOT NULL
    DROP VIEW vw_booking_analytics;
GO

CREATE VIEW vw_booking_analytics
WITH SCHEMABINDING
AS
SELECT 
    b.booking_id,
    b.check_in,
    b.check_out,
    b.total_amount,
    b.status,
    b.created_at,
    g.first_name AS guest_first_name,
    g.last_name AS guest_last_name,
    p.title AS property_title,
    p.property_type,
    h.first_name AS host_first_name,
    h.last_name AS host_last_name,
    pay.amount AS payment_amount,
    pay.status AS payment_status,
    r.rating AS guest_rating,
    COUNT_BIG(*) AS record_count
FROM dbo.bookings b
INNER JOIN dbo.users g ON b.guest_id = g.user_id
INNER JOIN dbo.properties p ON b.property_id = p.property_id
INNER JOIN dbo.users h ON p.host_id = h.user_id
LEFT JOIN dbo.payments pay ON b.booking_id = pay.booking_id
LEFT JOIN dbo.property_reviews r ON b.booking_id = r.booking_id
WHERE b.created_at >= DATEADD(YEAR, -1, GETDATE())
    AND b.status IN ('confirmed', 'completed');
GO

-- Create indexed view (requires specific permissions)
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE name = 'idx_vw_booking_created' AND object_id = OBJECT_ID('vw_booking_analytics'))
BEGIN
    CREATE UNIQUE CLUSTERED INDEX idx_vw_booking_created ON vw_booking_analytics(created_at, booking_id);
END

-- Fast query using indexed view
SELECT TOP 1000 * FROM vw_booking_analytics
ORDER BY created_at DESC;



-- Option B: Pagination-Optimized Query
-- (For user interfaces with pagination)
DECLARE @last_seen_booking_id INT = 0; -- Parameter
DECLARE @page_size INT = 50;

SELECT 
    b.booking_id,
    b.check_in,
    b.check_out,
    b.total_amount,
    b.status,
    g.first_name AS guest_first_name,
    p.title AS property_title,
    h.first_name AS host_first_name,
    pay.amount AS payment_amount
FROM bookings b
INNER JOIN users g ON b.guest_id = g.user_id
INNER JOIN properties p ON b.property_id = p.property_id
INNER JOIN users h ON p.host_id = h.user_id
LEFT JOIN payments pay ON b.booking_id = pay.booking_id
WHERE b.created_at >= DATEADD(YEAR, -1, GETDATE())
    AND b.status IN ('confirmed', 'completed')
    AND b.booking_id > @last_seen_booking_id  -- Keyset pagination
ORDER BY b.booking_id ASC  -- Consistent ordering for pagination
OFFSET 0 ROWS FETCH FIRST @page_size ROWS ONLY;



-- Option C: Summary-First Approach
-- (For dashboards where details are loaded on demand)
SELECT TOP 50
    b.booking_id,
    b.check_in,
    b.check_out,
    b.total_amount,
    b.status,
    g.first_name AS guest_first_name,
    p.title AS property_title
FROM bookings b
INNER JOIN users g ON b.guest_id = g.user_id
INNER JOIN properties p ON b.property_id = p.property_id
WHERE b.created_at >= DATEADD(YEAR, -1, GETDATE())
    AND b.status IN ('confirmed', 'completed')
ORDER BY b.created_at DESC;

-- Then load details only when needed
DECLARE @specific_booking_id INT = 123; -- Parameter

SELECT 
    pay.amount,
    pay.status,
    h.first_name AS host_first_name,
    r.rating,
    r.comment
FROM bookings b
LEFT JOIN payments pay ON b.booking_id = pay.booking_id
LEFT JOIN properties p ON b.property_id = p.property_id
LEFT JOIN users h ON p.host_id = h.user_id
LEFT JOIN property_reviews r ON b.booking_id = r.booking_id
WHERE b.booking_id = @specific_booking_id;



-- SECTION 6: INDEXING STRATEGY FOR OPTIMAL PERFORMANCE
-- Create recommended indexes for the optimized queries

-- Core booking indexes
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE name = 'idx_bookings_created_status' AND object_id = OBJECT_ID('bookings'))
    CREATE INDEX idx_bookings_created_status ON bookings(created_at, status);

IF NOT EXISTS (SELECT * FROM sys.indexes WHERE name = 'idx_bookings_guest_id' AND object_id = OBJECT_ID('bookings'))
    CREATE INDEX idx_bookings_guest_id ON bookings(guest_id);

IF NOT EXISTS (SELECT * FROM sys.indexes WHERE name = 'idx_bookings_property_id' AND object_id = OBJECT_ID('bookings'))
    CREATE INDEX idx_bookings_property_id ON bookings(property_id);

-- Property indexes
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE name = 'idx_properties_host_id' AND object_id = OBJECT_ID('properties'))
    CREATE INDEX idx_properties_host_id ON properties(host_id);

IF NOT EXISTS (SELECT * FROM sys.indexes WHERE name = 'idx_property_reviews_property_id' AND object_id = OBJECT_ID('property_reviews'))
    CREATE INDEX idx_property_reviews_property_id ON property_reviews(property_id);

-- User indexes
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE name = 'idx_users_user_type' AND object_id = OBJECT_ID('users'))
    CREATE INDEX idx_users_user_type ON users(user_type);

-- Payment indexes
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE name = 'idx_payments_booking_id' AND object_id = OBJECT_ID('payments'))
    CREATE INDEX idx_payments_booking_id ON payments(booking_id);


-- SECTION 7: PERFORMANCE COMPARISON QUERIES
-- Compare query performance and execution plans

-- Test 1: Initial query performance
PRINT 'Initial Query - Execution Plan:';
SET STATISTICS IO ON;
SELECT COUNT(*) 
FROM bookings b
INNER JOIN users g ON b.guest_id = g.user_id
INNER JOIN properties p ON b.property_id = p.property_id
WHERE b.created_at >= DATEADD(YEAR, -1, GETDATE())
    AND b.status IN ('confirmed', 'completed');
SET STATISTICS IO OFF;

-- Test 2: Optimized query performance
PRINT 'Optimized Query - Execution Plan:';
SET STATISTICS IO ON;
WITH booking_summary AS (
    SELECT booking_id, guest_id, property_id
    FROM bookings 
    WHERE created_at >= DATEADD(YEAR, -1, GETDATE())
        AND status IN ('confirmed', 'completed')
)
SELECT COUNT(*)
FROM booking_summary bs
INNER JOIN users g ON bs.guest_id = g.user_id
INNER JOIN properties p ON bs.property_id = p.property_id;
SET STATISTICS IO OFF;

-- Test 3: Row count comparison
-- Fixed: Properly format the UNION ALL with CTEs
SELECT * FROM (
    SELECT 
        'Initial Query Result Count' as query_type,
        COUNT(*) as row_count
    FROM (
        SELECT TOP 1000 b.booking_id
        FROM bookings b
        INNER JOIN users g ON b.guest_id = g.user_id
        INNER JOIN properties p ON b.property_id = p.property_id
        WHERE b.created_at >= DATEADD(YEAR, -1, GETDATE())
            AND b.status IN ('confirmed', 'completed')
    ) AS initial_query

    UNION ALL

    SELECT 
        'Optimized Query Result Count',
        COUNT(*) 
    FROM (
        SELECT TOP 1000 bs.booking_id
        FROM (
            SELECT booking_id, guest_id, property_id
            FROM bookings 
            WHERE created_at >= DATEADD(YEAR, -1, GETDATE())
                AND status IN ('confirmed', 'completed')
        ) bs
        INNER JOIN users g ON bs.guest_id = g.user_id
        INNER JOIN properties p ON bs.property_id = p.property_id
    ) AS optimized_query
) AS results;



-- SECTION 8: QUERY PERFORMANCE MONITORING
-- Track query performance over time

IF OBJECT_ID('query_performance_log', 'U') IS NULL
BEGIN
    CREATE TABLE query_performance_log (
        log_id INT IDENTITY(1,1) PRIMARY KEY,
        query_name VARCHAR(100) NOT NULL,
        execution_time_ms INT,
        row_count INT,
        timestamp DATETIME2 DEFAULT GETDATE()
    );
END

-- Example of logging performance (would be called from application)
INSERT INTO query_performance_log (query_name, execution_time_ms, row_count)
VALUES ('booking_analytics_optimized', 150, 1000);

-- View performance trends
SELECT 
    query_name,
    AVG(execution_time_ms) as avg_execution_time,
    MIN(execution_time_ms) as min_execution_time,
    MAX(execution_time_ms) as max_execution_time,
    COUNT(*) as execution_count
FROM query_performance_log
GROUP BY query_name
ORDER BY avg_execution_time DESC;



-- SECTION 9: FINAL PERFORMANCE RECOMMENDATIONS

-- Display current index usage
SELECT 
    'Current Performance Setup Complete' as status,
    'Use SET STATISTICS IO, TIME ON to analyze queries' as recommendation,
    'Consider indexed views for heavy reporting workloads' as suggestion;

-- Show existing indexes for reference
SELECT 
    i.name as index_name, 
    t.name as table_name,
    i.type_desc as index_type
FROM sys.indexes i
INNER JOIN sys.tables t ON i.object_id = t.object_id
WHERE i.object_id IN (OBJECT_ID('bookings'), OBJECT_ID('users'), OBJECT_ID('properties'), 
                     OBJECT_ID('payments'), OBJECT_ID('property_reviews'))
    AND i.type IN (1, 2)  -- Clustered and nonclustered
ORDER BY t.name, i.name;