-- =============================================
-- SQL SUBQUERIES FOR AIRBNB DATABASE ANALYSIS
-- =============================================

-- Query 1: Non-Correlated Subquery - High-Rated Properties (Rating > 4.0)
-- Business Purpose: Identify premium properties for featuring on homepage,
-- special promotions, and quality assurance. Helps guests find the best stays.

SELECT 
    property_id,
    title AS property_title,
    property_type,
    base_price,
    accommodates,
    (SELECT 
        AVG(rating) 
     FROM 
        property_reviews pr 
     WHERE 
        pr.property_id = p.property_id
    ) AS average_rating
FROM 
    properties p
WHERE 
    (SELECT AVG(rating) FROM property_reviews pr WHERE pr.property_id = p.property_id) > 4.0
ORDER BY 
    average_rating DESC, base_price ASC;
-- Non-correlated subquery calculates average rating for each property
-- Filters properties with average rating greater than 4.0
-- Essential for quality curation and premium listing features



-- Query 2: Correlated Subquery - Frequent Bookers (Users with > 3 Bookings)
-- Business Purpose: Identify loyal customers for loyalty programs, 
-- special offers, and personalized marketing. VIP customer management.

SELECT 
    u.user_id,
    u.first_name,
    u.last_name,
    u.email,
    u.user_type,
    (SELECT 
        COUNT(*) 
     FROM 
        bookings b 
     WHERE 
        b.guest_id = u.user_id 
        AND b.status = 'confirmed'
    ) AS total_confirmed_bookings
FROM 
    users u
WHERE 
    (SELECT COUNT(*) FROM bookings b WHERE b.guest_id = u.user_id AND b.status = 'confirmed') > 3
ORDER BY 
    total_confirmed_bookings DESC, u.first_name;
-- Correlated subquery: inner query depends on outer query (u.user_id)
-- Counts bookings for each user individually
-- Critical for customer retention and loyalty programs



-- Query 3: Subquery in HAVING Clause - Popular Property Types
-- Business Purpose: Market analysis to understand which property types 
-- are most popular and potentially most profitable.

SELECT 
    property_type,
    COUNT(property_id) AS total_properties,
    AVG(base_price) AS average_price,
    (SELECT 
        AVG(rating) 
     FROM 
        property_reviews pr 
     INNER JOIN 
        properties p2 ON pr.property_id = p2.property_id 
     WHERE 
        p2.property_type = p1.property_type
    ) AS average_rating
FROM 
    properties p1
GROUP BY 
    property_type
HAVING 
    COUNT(property_id) > (SELECT AVG(property_count) 
                         FROM (SELECT property_type, COUNT(*) AS property_count 
                               FROM properties GROUP BY property_type) AS counts)
ORDER BY 
    total_properties DESC;
-- Subquery in HAVING compares against average property count per type
-- Identifies property types with above-average inventory
-- Useful for market positioning and investment decisions



-- Query 4: Multiple Subqueries - Property Revenue vs Average
-- Business Purpose: Financial analysis to identify high-performing properties
-- and properties that need pricing or marketing adjustments.

SELECT 
    p.property_id,
    p.title,
    p.property_type,
    p.base_price,
    (SELECT 
        COALESCE(SUM(total_amount), 0) 
     FROM 
        bookings 
     WHERE 
        property_id = p.property_id 
        AND status = 'confirmed'
    ) AS total_revenue,
    (SELECT 
        AVG(total_rev) 
     FROM 
        (SELECT property_id, COALESCE(SUM(total_amount), 0) AS total_rev 
         FROM bookings WHERE status = 'confirmed' GROUP BY property_id) AS rev
    ) AS average_property_revenue,
    (SELECT 
        COUNT(*) 
     FROM 
        property_reviews 
     WHERE 
        property_id = p.property_id
    ) AS review_count
FROM 
    properties p
WHERE 
    (SELECT COALESCE(SUM(total_amount), 0) FROM bookings WHERE property_id = p.property_id AND status = 'confirmed') 
    > (SELECT AVG(total_rev) FROM (SELECT property_id, COALESCE(SUM(total_amount), 0) AS total_rev 
                                  FROM bookings WHERE status = 'confirmed' GROUP BY property_id) AS rev)
ORDER BY 
    total_revenue DESC;
-- Multiple subqueries for revenue calculation and comparison
-- Identifies properties performing above revenue average
-- Essential for revenue optimization and performance benchmarking



-- Query 5: EXISTS Subquery - Properties with Recent Bookings
-- Business Purpose: Identify active properties for search ranking boost
-- and properties that might need attention due to inactivity.

SELECT 
    p.property_id,
    p.title,
    p.property_type,
    p.base_price,
    p.created_at AS listing_date,
    (SELECT 
        MAX(check_in) 
     FROM 
        bookings 
     WHERE 
        property_id = p.property_id 
        AND status = 'confirmed'
    ) AS last_booking_date
FROM 
    properties p
WHERE 
    EXISTS (
        SELECT 1 
        FROM bookings b 
        WHERE b.property_id = p.property_id 
        AND b.status = 'confirmed'
        AND b.check_in >= CURRENT_DATE - INTERVAL '30 days'
    )
ORDER BY 
    last_booking_date DESC;
-- EXISTS subquery checks for recent bookings efficiently
-- Better performance than JOIN for existence checking
-- Important for search algorithm and property activity monitoring



-- Query 6: Correlated Subquery - Host Performance Analysis
-- Business Purpose: Evaluate host performance based on their property portfolio
-- for host rewards programs and quality standards.

SELECT 
    h.user_id AS host_id,
    h.first_name,
    h.last_name,
    h.email,
    (SELECT 
        COUNT(*) 
     FROM 
        properties p 
     WHERE 
        p.host_id = h.user_id
    ) AS total_properties,
    (SELECT 
        AVG(pr.rating) 
     FROM 
        property_reviews pr 
     INNER JOIN 
        properties p ON pr.property_id = p.property_id 
     WHERE 
        p.host_id = h.user_id
    ) AS average_host_rating,
    (SELECT 
        COALESCE(SUM(b.total_amount), 0) 
     FROM 
        bookings b 
     INNER JOIN 
        properties p ON b.property_id = p.property_id 
     WHERE 
        p.host_id = h.user_id 
        AND b.status = 'confirmed'
    ) AS total_host_revenue
FROM 
    users h
WHERE 
    h.user_type = 'host'
    AND (SELECT COUNT(*) FROM properties p WHERE p.host_id = h.user_id) > 0
ORDER BY 
    total_host_revenue DESC, average_host_rating DESC;
-- Multiple correlated subqueries for comprehensive host analysis
-- Calculates key performance indicators for each host
-- Essential for host tier programs and partnership management