-- AirBnB Database Schema for MS SQL Server
-- Drop database if exists and create new one
PRINT 'Starting database creation...';
GO

IF EXISTS (SELECT name FROM sys.databases WHERE name = 'airbnb_db')
BEGIN
    DROP DATABASE airbnb_db;
    PRINT 'Existing airbnb_db database dropped.';
END
ELSE
BEGIN
    PRINT 'No existing airbnb_db database found. Creating new one.';
END
GO

CREATE DATABASE airbnb_db;
PRINT 'New airbnb_db database created successfully.';
GO

USE airbnb_db;
PRINT 'Now using airbnb_db database.';
GO

-- Users table
CREATE TABLE users (
    user_id UNIQUEIDENTIFIER PRIMARY KEY DEFAULT NEWID(),
    first_name NVARCHAR(100) NOT NULL,
    last_name NVARCHAR(100) NOT NULL,
    email NVARCHAR(255) UNIQUE NOT NULL,
    password_hash NVARCHAR(255) NOT NULL,
    phone_number NVARCHAR(20),
    role NVARCHAR(10) CHECK (role IN ('guest', 'host', 'admin')) NOT NULL DEFAULT 'guest',
    created_at DATETIME2 DEFAULT GETDATE()
);
PRINT 'Users table created successfully.';
GO

-- Properties table
CREATE TABLE properties (
    property_id UNIQUEIDENTIFIER PRIMARY KEY DEFAULT NEWID(),
    host_id UNIQUEIDENTIFIER NOT NULL,
    name NVARCHAR(255) NOT NULL,
    description NVARCHAR(MAX) NOT NULL,
    location NVARCHAR(255) NOT NULL,
    price_per_night DECIMAL(10, 2) NOT NULL CHECK (price_per_night > 0),
    created_at DATETIME2 DEFAULT GETDATE(),
    updated_at DATETIME2 DEFAULT GETDATE(),
    
    FOREIGN KEY (host_id) REFERENCES users(user_id) ON DELETE CASCADE
);
PRINT 'Properties table created successfully.';
GO

-- Bookings table
CREATE TABLE bookings (
    booking_id UNIQUEIDENTIFIER PRIMARY KEY DEFAULT NEWID(),
    property_id UNIQUEIDENTIFIER NOT NULL,
    user_id UNIQUEIDENTIFIER NOT NULL,
    start_date DATE NOT NULL,
    end_date DATE NOT NULL,
    total_price DECIMAL(10, 2) NOT NULL CHECK (total_price > 0),
    status NVARCHAR(10) CHECK (status IN ('pending', 'confirmed', 'canceled')) NOT NULL DEFAULT 'pending',
    created_at DATETIME2 DEFAULT GETDATE(),
    
    FOREIGN KEY (property_id) REFERENCES properties(property_id) ON DELETE CASCADE,
    FOREIGN KEY (user_id) REFERENCES users(user_id) ON DELETE CASCADE,
    CHECK (start_date < end_date)
);
PRINT 'Bookings table created successfully.';
GO

-- Payments table
CREATE TABLE payments (
    payment_id UNIQUEIDENTIFIER PRIMARY KEY DEFAULT NEWID(),
    booking_id UNIQUEIDENTIFIER NOT NULL,
    amount DECIMAL(10, 2) NOT NULL CHECK (amount > 0),
    payment_date DATETIME2 DEFAULT GETDATE(),
    payment_method NVARCHAR(20) CHECK (payment_method IN ('credit_card', 'paypal', 'stripe')) NOT NULL,
    
    FOREIGN KEY (booking_id) REFERENCES bookings(booking_id) ON DELETE CASCADE
);
PRINT 'Payments table created successfully.';
GO

-- Reviews table
CREATE TABLE reviews (
    review_id UNIQUEIDENTIFIER PRIMARY KEY DEFAULT NEWID(),
    property_id UNIQUEIDENTIFIER NOT NULL,
    user_id UNIQUEIDENTIFIER NOT NULL,
    rating INT NOT NULL CHECK (rating >= 1 AND rating <= 5),
    comment NVARCHAR(MAX) NOT NULL,
    created_at DATETIME2 DEFAULT GETDATE(),
    
    FOREIGN KEY (property_id) REFERENCES properties(property_id) ON DELETE CASCADE,
    FOREIGN KEY (user_id) REFERENCES users(user_id) ON DELETE CASCADE,
    CONSTRAINT unique_user_property_review UNIQUE (user_id, property_id)
);
PRINT 'Reviews table created successfully.';
GO

-- Messages table
CREATE TABLE messages (
    message_id UNIQUEIDENTIFIER PRIMARY KEY DEFAULT NEWID(),
    sender_id UNIQUEIDENTIFIER NOT NULL,
    recipient_id UNIQUEIDENTIFIER NOT NULL,
    message_body NVARCHAR(MAX) NOT NULL,
    sent_at DATETIME2 DEFAULT GETDATE(),
    
    FOREIGN KEY (sender_id) REFERENCES users(user_id) ON DELETE CASCADE,
    FOREIGN KEY (recipient_id) REFERENCES users(user_id) ON DELETE CASCADE,
    CHECK (sender_id != recipient_id)
);
PRINT 'Messages table created successfully.';
GO

-- Create indexes for performance
CREATE INDEX idx_users_email ON users(email);
CREATE INDEX idx_users_role ON users(role);
CREATE INDEX idx_properties_host_id ON properties(host_id);
CREATE INDEX idx_properties_location ON properties(location);
CREATE INDEX idx_bookings_property_id ON bookings(property_id);
CREATE INDEX idx_bookings_user_id ON bookings(user_id);
CREATE INDEX idx_bookings_dates ON bookings(start_date, end_date);
CREATE INDEX idx_payments_booking_id ON payments(booking_id);
CREATE INDEX idx_reviews_property_id ON reviews(property_id);
CREATE INDEX idx_reviews_rating ON reviews(rating);
CREATE INDEX idx_messages_sender ON messages(sender_id);
CREATE INDEX idx_messages_recipient ON messages(recipient_id);
PRINT 'All indexes created successfully.';
GO

PRINT '=== AIRBNB DATABASE SCHEMA CREATED SUCCESSFULLY ===';
PRINT 'All tables and indexes have been created.';
PRINT 'Next step: Run seed-data.sql to populate with sample data.';
GO